@model Index
@{
    ViewData["Title"] = "AdminPage";
}

<div>
    <h1 class = "display-4"> Добро Пожаловать!  </h1>

    <form asp-action="input1.php">
        <p>
            <b>Ваша Роль: Администратор</b><br>
            <b>Тут вы можете увидеть всех пользователей и их роли:</b><br>
            @{/*добавь вывод пользователй и роли*/}

        </p>

    </form>

</div>