@model Index
@{
    ViewData["Title"] = "UserPage";
}

<div>
    <h1 class = "display-4"> Добро Пожаловать!  </h1>

    <form asp-action="input1.php">
        <p>
            <b>Ваша Роль: пользователь</b><br>
        </p>

    </form>

</div>